{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            StudyHub
        {% endblock %}
    </title>

<link rel="stylesheet" href="{% static 'css/base.css' %}?v=2">
    {% if theme == "dark" %}

        <link
            rel="stylesheet"
            href="{% static 'css/dark.css' %}"
        >

    {% else %}

        <link
            rel="stylesheet"
            href="{% static 'css/light.css' %}"
        >

    {% endif %}
</head>

<body class="{{ theme }}-theme">

    <header class="site-header">

        <a
            class="site-logo"
            href="{% url 'core:home' %}"
        >
            <img
                src="{% static 'images/logo.png' %}"
                alt="StudyHub Logo"
            >

            <span>StudyHub</span>
        </a>
<nav class="site-navigation">

    <a href="{% url 'core:home' %}">
        Home
    </a>

    <a href="{% url 'core:resource_list' %}">
        Resources
    </a>

    <a href="{% url 'core:favorites' %}">
        Favorites
    </a>

    <a href="{% url 'core:preferences' %}">
        Preferences
    </a>

    <a href="{% url 'core:feedback' %}">
        Feedback
    </a>

    {% if request.session.user_name %}

    <a href="{% url 'core:profile' %}">
        Profile
    </a>

{% else %}

    <a href="{% url 'core:login' %}">
        Login
    </a>

{% endif %}
</nav>

    </header>

    <main class="site-main">

        {% block content %}
        {% endblock %}

    </main>

    <footer class="site-footer">
        <p>
            &copy; 2026 StudyHub. Learn, explore, and grow.
        </p>
    </footer>

</body>
</html>